* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-family: "poppins", sans-serif;
  background-color: #e9d5b8;
  padding: 1rem;
}

.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}
.show {
  opacity: 1;
  pointer-events: auto;
}
.modal-inner {
  position: relative;
  padding: 1rem;
}

.modal {
  max-width: 50rem;
  width: 100%;
  max-height: calc(100vh - 10rem);
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  overflow-y: auto;
}

.modal img {
  padding: 2rem;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.modal h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem;
  text-transform: uppercase;
}

.modal p {
  font-size: 1.4rem;
  padding: 2rem;
  text-align: center;
}

.modal h3 {
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem;
}
.ingredient-lists {
  font-size: 1.4rem;
  text-align: center;
  padding: 0 0 1rem 0;
}
.modal__btn {
  padding: 0.8rem;
  border-radius: 40%;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: orange;
  cursor: pointer;
}

.container {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.94);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  min-height: 100vh;
  max-width: 140rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  /* overflow: hidden; */
}

.container-smallScreen {
  max-height: 100vh;
  overflow: hidden;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.section-left {
  width: 15%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  background-color: #ffffff;
  border-radius: 12px 0 0 12px;
  /* display: none; */
}

.section-left h2 {
  padding-left: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  color: rgb(150, 100, 30);
}

nav {
  width: 100%;
}

.section-left__item {
  list-style-type: none;
  padding: 2rem;
}

.section-left__items li:hover {
  background-color: #ecc794;
  transition: all 0.3s ease-in-out;
}

.active {
  background-color: #ecc794;
}

.section-left__item a {
  text-decoration: none;
  font-size: 1.6rem;
  color: rgb(150, 100, 30);
}

.section-left__item i {
  font-size: 2rem;
  padding: 0 0.5rem 0 0;
}

.section-left__avater {
  margin-left: 3rem;
}
.section-left__avater img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: contain;
  border: 4px solid #fb9300;
}
.section-left__avater p {
  font-size: 1.2rem;
  text-align: left;
  margin-left: 0.8rem;
  color: rgb(150, 100, 30);
}

/* section right */

.section-right {
  width: 85%;
}

.section-right-container {
  max-width: 100rem;
  margin: 0 auto;
  padding-top: 5rem;
}
.burger-menu {
  display: none;
  font-size: 2rem;
  padding: 2rem;
  font-size: 2.5rem;
}

@media screen and (max-width: 1000px) {
  .burger-menu {
    display: block;
  }
}

input[type="text"] {
  width: 100%;
  padding: 1.2rem;
  border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: 12px;
  outline: none;
  font-size: 1.6rem;
  box-shadow: 6px 8px 7px -11px #000000;
}
.section-right-top__search {
  display: flex;
  align-items: center;
}

.btn {
  padding: 1rem 2.5rem;
  margin-left: 1rem;
  background-color: #fb9300;
  border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: 12px;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
  box-shadow: 6px 8px 7px -10px #000000;
}

.section-right-center {
  margin: 2rem 0;
  max-width: 120rem;
  height: 15rem;
}

.section-right-center img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.section-right-bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 0.5rem;
  margin: 2rem 0;
  justify-items: center;
}
.err {
  display: block;
  font-size: 1.4rem;
  background-color: orange;
  color: white;
  padding: 1.5rem;
  text-align: center;
  border-radius: 12px;
}

.recepie__card {
  background-color: rgb(245, 238, 227);
  padding: 0.8rem;
  border-radius: 12px 12px;
  margin-top: 2rem;
}

.recepie__card img {
  min-height: 22rem;
  width: 20rem;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
}
.recepie__card h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
  text-align: center;
}

.recepie__card button {
  margin-left: 2.7rem;
}

@media screen and (max-width: 1000px) {
  .section-left {
    display: none;
  }
}

.section-left--test {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 2000;
}

@media screen and (max-width: 1000px) {
  .section-right {
    width: 100%;
  }
}
